<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="apple-touch-icon" sizes="200x200" href="/static/apple-touch-icon.png" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-vue.css" rel="stylesheet">
    <link href="/static/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="{{ static_url('css/common.css') }}" rel="stylesheet">
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/bootstrap-vue.js"></script>
    <title>Light Media Player</title>
  </head>
  <body>
    <div id="v-main">
      <!-- output box -->
      <transition @enter="outFadeIn"
                  @leave="outFadeOut">
        <div v-if="output.show" :key="output.text+Math.random()" class="output position-fixed">
          <div class="output-box">
            <small class="d-block">${ output.smallText }</small>
            ${ output.text }
          </div>
        </div>
      </transition>
      <!-- output box end -->
      <div class="container">
        <video class="mb-4"
               v-if="wpMode"
               ref="video"
               @timeupdate="videosave"
               @seeking="videoseek"
               @error="videoerror"
               @loadedmetadata  ="videoAdapt"
               @loadeddata="videoload"
               @progress="videoprogress"
               :key="video.src"
               :src="'/video/' + video.src"
               poster controls preload="meta">
          No video support!
        </video>
        <b-container class="fixed-top opacity-08">
          <b-btn-toolbar v-show="fixBar.show">
            <b-btn-group>
              <b-btn v-show="false" v-tap="test" variant="outline-dark">
                test
              </b-btn>
              <b-btn variant="outline-dark" title="browser" @click="showModal">
                <i class="oi oi-list"></i>
              </b-btn>
              <b-btn v-show="!wpMode"
                     variant="outline-success"
                     title="switch DLNA mode"
                     :pressed="dlnaMode"
                     @click="dlnaToogle">
                DLNA <i v-show="dlnaOn" class="oi oi-monitor"></i>
              </b-btn>
              <b-btn variant="outline-warning" v-show="wpMode" @click="dlnaToogle">
                  Close
              </b-btn>
              <b-dropdown variant="outline-dark" right text="Maintain">
                <b-dropdown-item v-if="devMode" @click="get('/sys/update')">update</b-dropdown-item>
                <b-dropdown-divider v-if="devMode"></b-dropdown-divider>
                <b-dropdown-item @click="get('/sys/backup')">backup</b-dropdown-item>
                <b-dropdown-item @click="get('/sys/restore')">restore</b-dropdown-item>
                <b-dropdown-item v-if="devMode" @click="get('/test')">test</b-dropdown-item>
              </b-dropdown>
            </b-btn-group>  
            <!-- dlna seek menu -->
            <b-btn-group class="mx-1">
              <b-dropdown variant="outline-dark" right v-show="dlnaMode" text="Seek">
                <b-dropdown-item @click="get('/dlna/seek/00:00:15')">00:15</b-dropdown-item>
                <b-dropdown-item @click="get('/dlna/seek/00:00:29')">00:30</b-dropdown-item>
                <b-dropdown-item @click="get('/dlna/seek/00:01:00')">01:00</b-dropdown-item>
                <b-dropdown-item @click="get('/dlna/seek/00:01:30')">01:30</b-dropdown-item>
              </b-dropdown>
            </b-btn-group>
            <!-- dlna seek menu end -->
            <!-- wp menu -->
            <b-btn-group v-show="wpMode" class="mx-1"> 
               <b-dropdown variant="outline-dark" right text="Rate">
                <b-dropdown-item @click="rate(0.5)">0.5X</b-dropdown-item>
                <b-dropdown-item @click="rate(0.75)">0.75X</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
                <b-dropdown-item @click="rate(1)">1X</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
                <b-dropdown-item @click="rate(1.5)">1.5X</b-dropdown-item>
                <b-dropdown-item @click="rate(1.75)">1.75X</b-dropdown-item>
                <b-dropdown-item @click="rate(2)">2X</b-dropdown-item>
                <b-dropdown-item @click="rate(2.5)">2.5X</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
                <b-dropdown-item @click="videoSizeToggle">${ video.sizeBtnText }</b-dropdown-item>
              </b-dropdown>
            </b-btn-group>
            <!-- wp menu end -->
            <!-- dlna dmr menu -->
            <b-btn-group class="mx-1" v-show="dlnaMode">
              <b-dropdown variant="outline-dark" right split :text="dlnaInfo.CurrentDMR">
                <b-dropdown-item @click="get('/dlna/searchdmr');">Search DMR</b-dropdown-item>
                <b-dropdown-divider></b-dropdown-divider>
                <b-dropdown-item v-for="item in dlnaInfo.DMRs" @click="setDmr(item)">
                  ${ item }
                </b-dropdown-item>
              </b-dropdown>
            </b-btn-group>
            <!-- dlna dmr menu end -->
          </b-btn-toolbar>
        </b-container>
        <!-- fix window -->
        <div v-show="uiState.modalShow"
             class="box container-fluid flex-row justify-content-center align-items-center">
          <div class="card box-shadow" style="max-height: 83vh;z-index: 1050;font-size: 0.8em; pointer-events: auto">
            <div class="card-header bg-D9EDF7">
              <b-btn @click="showHistory" size="sm" :pressed="uiState.historyShow" variant="outline-secondary">
                <i class="oi oi-clock"></i>History
              </b-btn>
              <b-btn @click="showFs('/fs/ls/')" size="sm" :pressed="!uiState.historyShow" variant="outline-secondary">
                <i class="oi oi-home"></i>Home dir
              </b-btn>
              <b-btn @click="editMode=!editMode" size="sm" variant="outline-light" :pressed="editMode">
                edit
              </b-btn>
              <b-btn @click="uiState.modalShow=false" class="close">&times;</b-btn>
            </div>
            <div class="table-responsive-sm text-center auto-overflow">
              <table v-show="uiState.historyShow" class="table table-striped table-sm">
                <tr v-for="item in history">
                  <!-- <td v-tap="test(item.filename)">test</td> -->
                  <td v-show="editMode">
                    <b-btn variant="danger" @click="remove(item.filename)">
                      <i class="oi oi-circle-x"></i>
                    </b-btn>
                  </td>
                  <!-- <td class="icon d-sm-table-cell d-none"> -->
                  <td class="d-sm-table-cell d-none">
                    <b-btn variant="info" @click="open(item.path, 'folder')">
                      <i class="oi oi-folder"></i>
                      <!-- <br> -->
                      <!-- <small>go Dir</small> -->
                    </b-btn>
                  </td>
                  <td class="iconOnly"><i class="oi oi-video"></i></td>
                  <td @click="open(item.filename, 'mp4')"
                      v-press="pressOpen"
                      :data-target="item.path"
                      class="break-all">
                    <span :class="item.exist ? 'mp4' : 'other'">${ item.filename }</span>
                    <br>
                    <small class="text-muted">
                      ${ item.latest_date } |
                      ${ secondToTime(item.position) } /
                      ${ secondToTime(item.duration) }
                    </small>
                  </td>
                </tr>
              </table>
              <table v-show="!uiState.historyShow" class="table table-striped table-sm">
                <tr v-for="item in filelist">
                  <td v-show="editMode">
                    <b-btn variant="danger" @click="move(item.path)">
                      <i class="oi oi-circle-x"></i>
                    </b-btn>
                  </td>
                  <td class="iconOnly"><i :class="icon[item.type]" class="oi"></i></td>
                   <!-- @click="open(item.path, item.type)" -->
                  <td :class="item.type" v-tap="tapOpen" :data-type="item.type" :data-path="item.path" class="break-all">
                    ${ item.filename }
                    <br>
                    <small class="text-muted">${ item.size }</small>
                  </td>
                </tr>
              </table>
            </div>
            <div v-show="uiState.historyShow" class="card-footer text-center">
              <b-btn @click="clearHistory" size="sm" variant="outline-dark">
                Clear
              </b-btn>
            </div>
          </div>
        </div>
        <!-- fix window end -->
        <!-- dlna interface -->
        <div v-if="dlnaMode">
          <div class="text-center col-sm-12 col-md-8 col-lg-6 col-xl-5">
            <div class="my-1 py-3"></div>
            <b-card bg-variant="light"
                    :title="dlnaInfo.TrackURI ? decodeURI(dlnaInfo.TrackURI) : ''"
                    class="title break-all my-5"
                    id="DlnaTouch">
            </b-card>
          </div>

          <b-container class="fixed-bottom text-center">
            <div class="card-footer col-sm-12 col-md-8 col-lg-6 col-xl-5">
              <h6 class="card-subtitle text-muted">${ dlnaInfo.CurrentTransportState }</h6>
              <h6 v-show="dlnaInfo.RelTime" class="card-title mt-3">
                ${ dlnaInfo.RelTime} / ${ dlnaInfo.TrackDuration }
              </h6>
              <input class="position-bar my-3"
                     v-model.number="positionBarVal"
                     type="range"
                     min="0"
                     :max="positionBarMax"
                     @change="positionSeek"
                     @input="positionShow">
              <b-btn-toolbar justify class="my-3 text-center">
                <b-btn-group>
                  <b-btn class="mx-1" variant="outline-warning" v-tap="volDown">
                      <i class="oi oi-volume-low"></i>
                  </b-btn>
                </b-btn-group>
                <b-btn-group>
                  <b-btn class="" variant="outline-success" @click="get('/dlna/play')">
                      <i class="oi oi-media-play"></i>
                  </b-btn>
                  <b-btn class="" variant="outline-danger" @click="get('/dlna/pause')">
                      <i class="oi oi-media-pause"></i>
                  </b-btn>
                  <b-btn class="" variant="outline-danger" @click="get('/dlna/stop')">
                      <i class="oi oi-media-stop"></i>
                  </b-btn>
                  <b-btn class="" variant="outline-success" @click="get('/dlna/next')">
                      <i class="oi oi-media-step-forward"></i>
                  </b-btn>
                </b-btn-group>
                <b-btn-group>
                  <b-btn class="mx-1" variant="outline-warning" v-tap="volUp">
                  <!-- <b-btn class="mx-1" variant="outline-warning" @click="get('/dlna/vol/up')"> -->
                    <i class="oi oi-volume-high"></i>
                  </b-btn>
                </b-btn-group>
               </b-btn-toolbar>
              </div>
          </b-container>
        </div>
        <!-- dlna interface end -->
      </div>
    </div>
    {% block footer %}
    <footer class="text-center">
      <small class="text-muted">&copy;2016-2018 Xenos' Light Media Player</small>
    </footer>
    {% end %}
  </body>
  <script src="/static/js/velocity.min.js"></script>
  <script src="/static/js/axios.min.js"></script>
  <!-- <script src="/static/js/jquery-3.2.1.min.js"></script> -->
  <script src="/static/js/hammer.min.js"></script>
  <script src="{{ static_url('js/common.js') }}"></script>
  <script src="{{ static_url('js/main.js') }}"></script>
  {% block script %}{% end %}
</html>
