.iconOnly {
    font-size: 1.6em;
    width: 1.4em;
}
.opacity-08 {
    opacity: 0.8;
}
.bg-D9EDF7 {
    background-color: #D9EDF7;
}
.auto-overflow {
    overflow: auto;
}
body {
    background-color: #F1F2F6;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: AppleSDGothicNeo-Regular;
    margin-bottom: 2em; /* Margin bottom by footer height */
}
html {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
}

video {
    clear: both;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.break-all {
    word-break:break-all;
}
.table tbody tr td{
    vertical-align: middle;
}

td:hover {
    background-color: #FBF3E9;
}
.folder {
    color: black;
}
.mp4 {
    color: #337AB7;
}
.video {
    color: #46CC93;
}
.other{
    color: grey;
}
/* bars */
.position-bar {
    background-color: #A0D468;
    width: 96%;
    height: 1.8em;
}
.position-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 4.8em;
    width: 3.3em;
    padding: 1.5em;
    background-clip: content-box;
    background-color: #F1F2F6;
    border: None;
}

input[type=range]{
    box-shadow: inset 0px 0px 9px 0px #F1F2F6;
    -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
    height: 0;
}
input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 0;
    border: None;
}
.position-bar::-moz-range-thumb {
    height: 2.2em;
    width: 0.9em;
    box-shadow: inset 0px 0px 5px 2px #A0D468;
}
.volume-bar::-moz-range-thumb {
    /* not used */
    height: 1.5em;
    width: 1.8em;
    box-shadow: inset 0px 0px 5px 1px #F0AD4E;
}
/* bars end */
/* dlna title */
.title {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* #panel { */
    /* opacity: 0.88; */
    /* box-shadow: 2px 2px 5px #333333; */
/* } */
.output {
    opacity: 0;
    pointer-events: none;

    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* -webkit-transform: translate(-50%, -50%); */
    z-index: 1051;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.output-box {
    font-size: 1.5em;
    border-radius: 0.2em;
    padding: 0.2em;
    border: 1px solid #777777;
    box-shadow: 0.5em 0.5em 6em #AAAAAA inset;
    text-shadow: 0.1em 0.1em 0.4em #666;
    max-width: 100%;
}

button {
    opacity: 0.85;
    box-shadow: inset 0px 0px 9px 0px #F1F2F6;
}

.box-shadow {
    /* opacity: 0.78; */
    box-shadow: 2px 2px 5px #333333;
}
/* .dropdown-menu { */
.dropdown-item {
    opacity: 0.9;
    /* min-width: 6em; */
    /* font-size: 1.2em; */
}
.box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    overflow: hidden;
    outline: 0;
    z-index: 1050;
    pointer-events: none;
    display:flex;
    flex-wrap: wrap;
}