.oi-trash {
  color: white;
}
.icon {
    width: 4em;
}
/*
.glyphicon-film, .glyphicon-folder-close, .glyphicon-remove-circle, .glyphicon-file {
    font-size: 1.8em;
}
*/
/* .dropdown-menu { */
.dropdown-item {
    opacity: 0.9;
    /* min-width: 6em; */
    /* font-size: 1.5em; */
}
/*** modified bootstrap style ***/
body {
    background-color: #F1F2F6;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: AppleSDGothicNeo-Regular;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
a {
    cursor: default;
}
/*
div {
    text-align: center;
}
*/
video {
    clear: both;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*
table {
    width: 100%;
}
*/
td {
    word-break:break-all;
}
.table tbody tr td{
    vertical-align: middle;
}

td:hover {
    background-color: #FBF3E9;
}
input[type=range]{
    box-shadow: inset 0px 0px 9px 0px #F1F2F6;
    -webkit-appearance: none;
    margin: auto;
}
input[type=range]::-moz-range-track {
    height: 0;
}
input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 0;
    border: None;
}
#position-bar::-moz-range-thumb {
    height: 2.4em;
    width: 1em;
    box-shadow: inset 0px 0px 5px 1px #A0D468;
}
#volume-bar::-moz-range-thumb {
    height: 1.5em;
    width: 1.8em;
    box-shadow: inset 0px 0px 5px 1px #F0AD4E;
}
.filelist {
    color: grey;
    min-width: 14em;
}
/* updated */
.folder {
    color: black;
}
.mp4 {
    color: #337AB7;
}
.video {
    color: #46CC93;
}
.other{
    color: grey;
}
/* updated end */

#sidebar{
    opacity: 0.8;
    position: fixed;
    top: 0%;
    z-index: 9;
}
#output {
    z-index: 1050;
    font-size: 1.8em;
    pointer-events: none;
    border-radius: 0.2em;
    padding: 0.2em;
    opacity: 0.8;
    border: 1px solid #777777;
    box-shadow: 0.5em 0.5em 6em #AAAAAA inset;
    text-shadow: 0.1em 0.1em 0.4em #666;
}
button {
    opacity: 0.85;
    box-shadow: inset 0px 0px 9px 0px #F1F2F6;
}
.modal-dialog
{
    opacity: 0.8;
}
/*
.dlna-show, #rate {
    display: none;
}
*/
/*
#dialog {
    display: none;
    z-index: 10;
}
*/
#panel {
    opacity: 0.88;
    box-shadow: 2px 2px 5px #333333;
}
#tabFrame {
    overflow: auto;
    background-color: #F1F2F6;
}
#output, #dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#position-bar {
    background-color: #A0D468;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 84%;
    height: 2.4em;
}
#position-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 5.2em;
    width: 3.3em;
    padding: 1.5em;
    background-clip: content-box;
    background-color: #F1F2F6;
    border: None;
}
#src {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break:break-all;
}
#position {
    margin-top: 3em;
}
.volume {
    margin: 2em;
}
#dmr {
    margin-top: 3.5em;
}