.icon {
    width: 3.8em;
    opacity: 0.7;
    font-size: 1em;
}
.iconOnly {
    font-size: 1.6em;
    width: 1.4em;
}
/* .dropdown-menu { */
.dropdown-item {
    opacity: 0.9;
    /* min-width: 6em; */
    /* font-size: 1.5em; */
}
/*** modified bootstrap style ***/
body {
    background-color: #F1F2F6;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: AppleSDGothicNeo-Regular;
    margin-bottom: 2em; /* Margin bottom by footer height */
}
html {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
}

video {
    clear: both;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

td {
    word-break:break-all;
}
.table tbody tr td{
    vertical-align: middle;
}

/* updated */
td:hover {
    background-color: #FBF3E9;
}
.folder {
    color: black;
}
.mp4 {
    color: #337AB7;
}
.video {
    color: #46CC93;
}
.other{
    color: grey;
}
/* updated end */

#output {
    z-index: 1050;
    font-size: 1.8em;
    pointer-events: none;
    border-radius: 0.2em;
    padding: 0.2em;
    opacity: 0.8;
    border: 1px solid #777777;
    box-shadow: 0.5em 0.5em 6em #AAAAAA inset;
    text-shadow: 0.1em 0.1em 0.4em #666;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
button {
    opacity: 0.85;
    box-shadow: inset 0px 0px 9px 0px #F1F2F6;
}
.modal-content {
    opacity: 0.78;
    box-shadow: 2px 2px 5px #333333;
}
/* #panel { */
    /* opacity: 0.88; */
    /* box-shadow: 2px 2px 5px #333333; */
/* } */
#v-dlna div {
    /* background-color: #F1F2F6; */
}

/* bars */
.position-bar {
    background-color: #A0D468;
    width: 96%;
    height: 2.2em;
}
.position-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 5.2em;
    width: 3.3em;
    padding: 1.5em;
    background-clip: content-box;
    background-color: #F1F2F6;
    border: None;
}

input[type=range]{
    box-shadow: inset 0px 0px 9px 0px #F1F2F6;
    -webkit-appearance: none;
    /* margin: auto; */
}
input[type=range]::-moz-range-track {
    height: 0;
}
input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 0;
    border: None;
}
.position-bar::-moz-range-thumb {
    height: 2.4em;
    width: 0.9em;
    box-shadow: inset 0px 0px 5px 2px #A0D468;
}
.volume-bar::-moz-range-thumb {
    height: 1.5em;
    width: 1.8em;
    box-shadow: inset 0px 0px 5px 1px #F0AD4E;
}
/* bars end */
/* dlna title */
.title {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break:break-all;
}
