body {
    background-color: #F1F2F6;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: AppleSDGothicNeo-Regular, "Microsoft YaHei"; 
    margin-bottom: 2em; /* Margin bottom by footer height */
}
html {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 2em; */
  line-height: 2em;
}
video {
    clear: both;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.iconOnly {
    font-size: 1.6em;
    width: 1.4em;
}
.opacity-08 {
    opacity: 0.8;
}
.bg-D9EDF7 { /* light blue background no longer used */
    background-color: #D9EDF7;
}
.auto-overflow {
    overflow: auto;
}
.close {
    font-size: 1.8rem;
}
.default-bg {
    background-color: #F1F2F6;
}
.break-all {
    word-break:break-all;
}
.table tbody tr td{
    vertical-align: middle;
}

td:hover {
    background-color: #FBF3E9;
}
.folder {
    color: black;
}
.mp4 {
    color: #337AB7;
}
.video {
    color: #46CC93;
}
.other{
    color: grey;
}
/* bars */
.position-bar {
    background-color: #A0D468;
    width: 96%;
    height: 1.8em;
}
.position-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 4.8em;
    width: 3.3em;
    padding: 1.5em;
    background-clip: content-box;
    background-color: #F1F2F6;
    border: None;
}

input[type=range]{
    box-shadow: inset 0px 0px 9px 0px #F1F2F6;
    -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
    height: 0;
}
input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 0;
    border: None;
}
.position-bar::-moz-range-thumb {
    height: 2.2em;
    width: 0.8em;
    box-shadow: inset 0px 0px 5px 2px #A0D468;
}
.volume-bar::-moz-range-thumb {
    /* not used */
    height: 1.5em;
    width: 1.8em;
    box-shadow: inset 0px 0px 5px 1px #F0AD4E;
}
/* bars end */
/* dlna title */
.title {
    overflow: hidden;
    text-overflow: ellipsis;
}
.output-container {
    opacity: 0;
    pointer-events: none;
    z-index: 1080;
    width: 100%;
    height: 100%;
}
.output {
    font-size: 1.5em;
    border-radius: 0.2em;
    padding: 0.2em;
    border: 1px solid #777777;
    box-shadow: 0.5em 0.5em 6em #AAAAAA inset;
    text-shadow: 0.1em 0.1em 0.4em #666;
    max-width: 100%;
}
button {
    opacity: 0.8;
    box-shadow: inset 0px 0px 4px 0px #F1F2F6;
    /* box-shadow: inset 0px 0px 9px 0px #F1F2F6; */
}
.dropdown-item {
    opacity: 0.9;
    /* min-width: 6em; */
}
.window {
    max-height: 74vh;
    font-size: 0.9em;
    width: calc(100% - 30px);
    box-shadow: 2px 2px 5px #333333;
    position:absolute;
}
.z-index-1040 {
    z-index: 1040;
}
.z-index-1050 {
    z-index: 1050;
}
.flex-center {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
