/*** modified bootstrap style ***/
.glyphicon-film, .glyphicon-folder-close, .glyphicon-remove-circle, .glyphicon-file, .glyphicon-list-alt, .caret {
    font-size: 1.8em;
}
.glyphicon-remove-circle {
    color: grey;
}
.close {
    font-size: 2.5em;
    margin-right: 0.25em;
    margin-top: 0.05em;
}
.dropdown-menu {
    opacity: 0.8;
    min-width: 6em;
}
/*** modified bootstrap style ***/
body {
    background-color: #F1F2F6;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: AppleSDGothicNeo-Regular;
}
a {
    cursor: default;
}
div {
    text-align: center;
}
video {
    clear: both;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
table {
    width: 100%;
}
td {
    word-break:break-all; 
}
td:hover {
    background-color: #FBF3E9;
}
input[type=range]{
    box-shadow: inset 0px 0px 9px 0px #F1F2F6;
    -webkit-appearance: none;
    margin: auto;
}
input[type=range]::-moz-range-track {
    height: 0;
}
input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 0;
    border: None;
}
#position-bar::-moz-range-thumb {
    height: 2.4em;
    width: 1em;
    box-shadow: inset 0px 0px 5px 1px #A0D468;
}
#volume-bar::-moz-range-thumb {
    height: 1.5em;
    width: 1.8em;
    box-shadow: inset 0px 0px 5px 1px #F0AD4E;
}
.filelist {
    min-width: 14em;
}
.filelist.mp4 {
    color: #337AB7;
}
.filelist.other, .filelist small {
    color: grey;
}
#sidebar{
    opacity: 0.4;
    /* display: none; */
    position: fixed;
    top: 3%;
    z-index: 9;
}
#output {
    z-index: 99;
    font-size: 1.8em;
    pointer-events: none;
    border-radius: 0.2em;
    padding: 0.2em;
    opacity: 0.8;
    border: 1px solid #777777;
    box-shadow: 0.5em 0.5em 6em #AAAAAA inset;
    text-shadow: 0.1em 0.1em 0.4em #666;
}
#videosize, #rate, #dlna {
    display: none;
}
#dialog {
    display: none;
    z-index: 10;
}
#dlna button {
    opacity: 0.8;
    box-shadow: inset 0px 0px 9px 0px #F1F2F6;
}
#panel {
    opacity: 0.88;
    box-shadow: 2px 2px 5px #333333;
}
#tabFrame {
    overflow: auto;
    background-color: #F1F2F6;
}
#output, #dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#position-bar {
    background-color: #A0D468;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 84%;
    height: 2.4em;
}
#position-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 5.2em;
    width: 3.3em;
    padding: 1.5em;
    background-clip: content-box;
    background-color: #F1F2F6;
    border: None;
}
#volume-bar {
    background-color: #F0AD4E;
    width: 16em;
    height: 1.5em;
    /* margin-top: 3.5em; */
    margin-top: 1.5em;
}
#volume-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 3.2em;
    width: 3.8em;
    padding: 1em;
    background-clip: content-box;
    background-color: #F1F2F6;
    border: None;
}
#src {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
#position {
    margin-top: 3em;
}
#volume_up, #volume_down {
    margin: 2.5em;
}
