/*** modified bootstrap style ***/
.glyphicon-film, .glyphicon-folder-close, .glyphicon-remove-circle, .glyphicon-file, .glyphicon-list-alt, .caret {
  font-size: 1.8em;
}
.glyphicon-remove-circle {
    color: grey;
}
.close {
  font-size: 2.5em;
  margin-right: 0.25em;
  margin-top: 0.05em;
}
.dropdown-menu {
  opacity: 0.75;
  min-width: 6em;
}
.table > tbody > tr > td {
  vertical-align: middle;
  border-top: 0;
}
/*** modified bootstrap style ***/
body {
  background-color: #F1F2F6;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: AppleSDGothicNeo-Regular;
}
a {
  cursor: default;
}
div {
  text-align: center;
}
td:hover {
  background: #EDE6D8; /*#E0DDE2*/ /*#EEEEF3;*/
}
video {
  display: block;
  margin: auto;
}
.filelist {
  min-width: 14em;
}
.filelist.mp4 {
  color: #337AB7;
}
.filelist.other, .filelist small {
  color: grey;
}
#sidebar{
  opacity: 0.4;
  display: none;
  position: fixed;
  top: 40%;
}
#output {
  z-index: 99;
  font-size: 1.8em;
  pointer-events: none;
  border-radius: 0.2em;
  padding: 0.2em;
  opacity: 0.7;
  border: 1px solid #777777;
  box-shadow: 0.5em 0.5em 6em #AAAAAA inset;
  text-shadow: 0.1em 0.1em 0.4em #666;
}
#dialog {
  opacity: 0.8;
  box-shadow: 2px 2px 5px #333333;
  max-width: 100%;
}
#output, #dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
#mainframe {
  overflow: auto;
  min-height: 9em;
  min-width: 18em;
  max-width: 60em;
  width: 100%;
}